@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F7FA;
  --foreground: #1F2933;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes slide {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(200%); }
  100% { transform: translateX(200%); }
}
